.App {
  text-align: center;
}
.title {
  text-align: center;
  margin-left: 40px;
}

.problems {
  margin: 20px 30px;
  margin-right: 80px;
  
}


.problemTitle {
  list-style-type: none;
  height: 50px;
  border: 1px solid silver;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 20px;
  margin-left: -1px;
  margin-top: -1px;
}

.showDetail {
  margin-top: 3%;
  text-align: center;
}
.problemDetail {
  margin-bottom: 40px;
}

.nodata {
  text-align: center;
  color: silver;
}

.error {
  text-align: center;
  color: red;
}

.login {
  width: 30%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.login_item {
  margin-top: 10px;
  text-align: center
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: space-evenly
}

.logout {
  width: 60px;
  height: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50%;
}